# Auto detect text files and perform LF normalization
* text=auto

*.cs diff=csharp text
*.cginc text
*.shader text

*.mat merge=unityyamlmerge eol=lf
*.anim merge=unityyamlmerge eol=lf
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.physicsMaterial2D merge=unityyamlmerge eol=lf
*.physicMaterial merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
*.meta merge=unityyamlmerge eol=lf
*.controller merge=unityyamlmerge eol=lf


## git-lfs ##

#Image
*.jpg -text binary
*.jpeg -text binary
*.png -text binary
*.gif -text binary
*.psd -text binary
*.ai -text binary

#Audio
*.mp3 -text binary
*.wav -text binary
*.ogg -text binary

#Video
*.mp4 -text binary
*.mov -text binary

#3D Object
*.FBX -text binary
*.fbx -text binary
*.blend -text binary
*.obj -text binary

#ETC
*.a -text binary
*.exr -text binary
*.tga -text binary
*.pdf -text binary
*.zip -text binary
*.dll -text binary
*.unitypackage -text binary
*.aif -text binary
*.ttf -text binary
*.rns -text binary
*.reason -text binary
*.lxo -text binary